#container {

    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 2rem;
    padding: 12px,18px;
    border-radius: 10px;
    border: none;
    background-color: hsl(348, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;

}



button:hover{
    background-color: hsl(210, 100%, 60%);
}
button:active{
    background-color: hsl(210, 100%, 70%);
}
input{
    font-size: 2rem;
    width:50px;
    text-align: center;
    font-weight: bold;
}
